<article class="tricky-ad">
  <h3 class="tricky-ad-heading">Your Download is Ready</h3>

  <h3 class="h1 tricky-ad-large-heading">This is an ad</h3>

  <button class="large radius">Download</button>
</article>