<footer>
  <div class="row">
    <div class="medium-11 columns">
      <p>
        <small>
          Use the right tool for the job. Always keep performance, scalability and maintainability in
          mind when determining which RWD solution is right for your coding problem.
        </small>
      </p>
    </div>

    <div class="medium-3 columns text-right">
      <p>
        <small>
          Visit me at <a href="http://vikingglory.com/">vikingglory.com</a>.
        </small>
      </p>
    </div>
  </div>
</footer>