{{partial "header"}}

<main class="row">
  <div class="large-3 columns">
    {{partial "side-nav"}}
  </div>

  <div class="large-13 columns"> 
    <section class="row">
      <div class="column">
        <h1 class="h3">Content Swapping</h1>

        <ul>
          <li>Responsive Images</li>
          <li>Dropdowns for Tabs</li>
        </ul>
      </div>
    </section>
  </div>
</main>

{{partial "footer"}}