{{partial "header"}}

<main class="row">
  <div class="large-3 columns">
    {{partial "side-nav"}}
  </div>

  <div class="large-13 columns"> 
    <section class="row">
      <div class="column">
        <h1 class="h3">Layouts</h1>

        <ul>
          <li>Left Title</li>
          <li>Split Sidebar</li>
        </ul>
      </div>
    </section>
  </div>
</main>

{{partial "footer"}}