{{partial "header"}}

<main class="row">
  <div class="large-3 columns">
    {{partial "side-nav"}}
  </div>

  <div class="large-13 columns"> 
    <section class="row">
      <div class="column">
        <h1 class="h3">Tricky Layout</h1>

        <p>
          TODO: Create a sample blog with a tricky layout. Maybe one with an ad on top, then the
          logo/menu, followed by posts, where the logo/menu section moves to the left on larger
          screens.
        </p>
      </div>
    </section>
  </div>
</main>

{{partial "footer"}}