.tricky-ad {
  background-color: #47aacb;
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;

  button {
    background-color: #f96b51;
    text-transform: uppercase;

    &:hover{
      background-color: scale-color(#f96b51, $lightness: $button-function-factor);
    }
  }
}

.tricky-ad-heading {
  color: $white;
  margin-top: 0;
}

.tricky-ad-large-heading {
  color: #074b62;
}

.tricky-blog-header {
  background: $tuatara;
  padding: 0 $column-gutter / 2;
}

.tricky-blog-heading {
  color: $white;
  margin-top: 0;
  padding-top: 1rem;
}

.tricky-blog-subheading {
  color: $iron;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.tricky-code {
  padding: 1rem 0;
}

.tricky-code-link {
  border-top: 1px solid $gainsboro;
}

.tricky-layout-sidebar {
  background: $tuatara;
  height: 100%;
  padding: 6rem 0 0;
  position: fixed;
  text-align: right;
  width: $row-width / 4;
}

.tricky-post {
  background-color: $white;
  padding: $column-gutter / 2;

  header {
    border-bottom: none;
  }
}

.tricky-post-content {
  font-family: $font-family-serif;
}

.tricky-top-link {
  background-color: #f96b51;
  color: $white;
  display: block;
  padding: 0.75rem 1rem;

  &:hover {
    background-color: scale-color(#f96b51, $lightness: $button-function-factor);
    color: $white;
  }
}

@media #{$medium-up} {
  .tricky-code {
    padding: 5rem 0 1rem;
  }

  .tricky-code-link {
    border-top: none;
    margin-left: 5rem;
  }

  .tricky-home-link {
    margin-left: 1rem;
  }

  .tricky-top-link {
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    z-index: 1;
  }
}

@media #{$large-up} {
  .tricky-top-link {
    position: fixed;
  }

  .tricky-top-absolute {
    .tricky-top-link {
      position: absolute;
    }
  }
}