<h4 class="hide-for-medium-down">Menu</h4>

<ul class="no-bullet small-block-grid-4 medium-block-grid-4 large-block-grid-1">
  <li>
    {{link-to "Home" "index" class="side-nav-link"}}
  </li>

  <li>
    {{link-to "Media Statuses" "statuses" class="side-nav-link"}}
  </li>

  <li>
    {{link-to "Tricky Layout" "tricky-layout" class="side-nav-link"}}
  </li>

  <li>
    {{link-to "Responsive Images" "responsive-images" class="side-nav-link"}}
  </li>
</ul>